<section class="flex justify-center items-center min-h-screen">
  <div class="container max-w-3xl bg-white shadow-lg p-5 rounded-lg">
    <header>
      <h1 class="text-xl mb-2">{{ 'login.title' | translate }}</h1>
      <p class="text-gray-500 mb-6">
        {{ 'login.subtitle' | translate }}
      </p>
    </header>

    <form class="grid gap-y-4" [formGroup]="loginForm" (ngSubmit)="submitHandler()">
      <!-- email -->
      <div class="grid gap-y-1">
        <div class="relative">
          <input
            formControlName="login"
            type="email"
            id="email"
            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border-1 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
            [class]="{
              'border-green-700': loginForm.get('login')?.valid,
              'border-fg-danger-strong':
                loginForm.get('login')?.invalid && loginForm.get('login')?.touched,
            }"
            placeholder=" "
          />
          <label
            for="email"
            class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >
            {{ 'login.emailOrUsername' | translate }}
          </label>
        </div>

        @if (loginForm.get('login')?.invalid && loginForm.get('login')?.touched) {
          @if (loginForm.get('login')?.hasError('required')) {
            <app-input-err [message]="'login.validation.loginRequired' | translate" />
          }
          @if (loginForm.get('login')?.hasError('minlength')) {
            <app-input-err [message]="'login.validation.loginMinLength' | translate" />
          }
        }
      </div>

      <!-- password -->
      <div class="grid gap-y-1">
        <div class="relative">
          <input
            formControlName="password"
            [type]="showPassword() ? 'text' : 'password'"
            id="password"
            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border-1 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
            [class]="{
              'border-green-700': loginForm.get('password')?.valid,
              'border-fg-danger-strong':
                loginForm.get('password')?.invalid && loginForm.get('password')?.touched,
            }"
            placeholder=" "
          />
          <label
            for="password"
            class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >
            {{ 'login.password' | translate }}
          </label>

          @if (showPassword()) {
            <span
              (click)="showPassword.update((prev) => !prev)"
              class="absolute top-1/2 -translate-y-1/2 right-2"
            >
              <i class="fas fa-eye"></i>
            </span>
          } @else {
            <span
              (click)="showPassword.update((prev) => !prev)"
              class="absolute top-1/2 -translate-y-1/2 right-2"
            >
              <i class="fas fa-eye-slash"></i>
            </span>
          }
        </div>

        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          @if (loginForm.get('password')?.hasError('required')) {
            <app-input-err [message]="'login.validation.passwordRequired' | translate" />
          }
          @if (loginForm.get('password')?.hasError('pattern')) {
            <app-input-err [message]="'login.validation.passwordPattern' | translate" />
          }
        }
      </div>

      <app-button type="submit" tag="button" [isFullWidth]="true">
        {{ 'login.loginButton' | translate }}

        @if (loading()) {
          <i class="fa fa-spinner fa-spin"></i>
        }
      </app-button>

      <div>
        <p>{{ 'login.noAccount' | translate }}</p>

        <app-button
          tag="link"
          variant="outline"
          type="button"
          [isFullWidth]="true"
          routerLink="/register"
        >
          {{ 'login.createAccount' | translate }}
        </app-button>
      </div>
    </form>
  </div>
</section>
